<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" )    
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    style
        include ../public/css/landing.css
    title 
        | MDB | Home page
body
    nav
        ul
            li.menu
                a(href="/reservations") Reservations
            li.menu
                a(href="/categorys") Menu
            li.menu
                a(href="/about") About
            li.menu
                a(href="/profile") Profile
            li.auth
                a(href="#login" id="loginNav" onclick='$("#login").toggle(); $("#register").hide();') Log in
            li.auth
                a(href="#register" id="loginNav" onclick='$("#register").toggle(); $("#login").hide();') Register
    header
    section(id="register")
        div(class="register-form login-page" id="register")
            div.form
                form(action='/auth/sign-up', method='post', role='form', autocomplete='on')
                    input(type="text" name="username" placeholder="username" tabindex='1')
                    input(type="password" name="password" placeholder="password" tabindex='2')
                    input(type="text" name="email" placeholder="email address" tabindex='3')
                    input(type="text" name="firstName" placeholder="first name" tabindex='4')
                    input(type="text" name="lastName" placeholder="last name" tabindex='5')
                    input(type="submit" name="register" value="register" tabindex='6')
                    p.message
                        | Already registered? 
                        a(href="#signin" onclick='$("#login").toggle(); $("#register").hide();')
                            | Sign In
    section(id="login")
        div(class="login-form login-page" id="login")
            div(class="form")
                form(action='/auth/sign-in', method='post', role='form', autocomplete='off')
                    input(type="text" name="username" placeholder="username" tabindex='1')
                    input(type="password" name="password" placeholder="password" tabindex='2')                                
                    input(type="submit" name="login" value="login" tabindex='4')       
                    p.message
                        | Not registered? 
                        a(href="#register" onclick='$("#register").toggle(); $("#login").hide();')
                            |Create an account
    //- !=messages()
    block categorys
    block content

    footer
        p 
            small: strong
                | ADDRESS: 
            | 56 Ivan Shishman St., Sofia, Bulgaria
            br
            small: strong
                | DINNER: 
            | Monday through Thursday, 11:00 a.m. to 10:00 p.m.
            br
            | Friday and Saturday, 11:00 a.m. to 11:00 p.m. 
            br
            | Sundays, 11:00 a.m. to 7:00 p.m. 
            br
            small: strong
                | BAR: 
            | Open everyday until 2:00 a.m.
            br
            br
            strong
                | Copyright © 2017 — MDB
    script 
        | $("#register").hide(); $("#login").hide();

        //- ul.nav.navbar-nav.navbar-right
        //-     if currentUser
        //-         li.dropdown
        //-             a.dropdown-toggle(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
        //-                 span.glyphicon.glyphicon-user
        //-                 | #{currentUser.username} 
        //-                 b.caret
        //-             ul.dropdown-menu
        //-                 li
        //-                     a(href="/profile/"+currentUser.username)
        //-                         span.glyphicon.glyphicon-user
        //-                         | Profile
        //-                 li
        //-                     a(href="/settings/"+currentUser.username)
        //-                         span.glyphicon.glyphicon-cog
        //-                         | Settings
        //-                 li.divider
        //-                 li
        //-                     a#logout-btn(href="/logout")
        //-                         span.glyphicon.glyphicon-cog
        //-                         | Logout
        //-     else
        //-         include main/register.pug
        //-         include main/login.pug
