extends _shared
block content
    nav.nav
        ul.list.list-horizontal
            each category in context
                 li.list-item
                    a.nav-btn(href="/meals/:"+category._id)
                         =category.name
