doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        script(src='http://static.mobilewebsiteserver.com/redirect.js', type='text/javascript')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title MDB: Casual Dining and Online Restaurant
        link(href='stylesheets/application-1354826878.css', media='screen', rel='Stylesheet', type='text/css')
        link(rel='stylesheet', href='fancybox/source/jquery.fancybox-v=2.1.2.css', type='text/css', media='screen')
        script(type='text/javascript', charset='utf-8').
            animateHeaderTitle = true;
         meta(name='keywords', content='MDB , restuarant, dining, food,  restaurants, order')
        meta(name='description', content='MDB is a online ordering restaurant boasting a menu full of mouth-watering appetizers, comfort  favorites & delectable meals.')
        script(src='mint/index-js.html', type='text/javascript')
    body#index.home
        #top
        #pageContainer
            #pageHeader
                #headerTitle
                    p
                        a(href='home.pug') MDB
                ul#headerNavigation.navigation
                    li.home
                        a.current(href='index.html') Home
                    li.menus
                        a(href='menu.pug') Menu
                    li.order
                        a(href='order.pug') Order Online
            #pageBody
                #bodyContent.top(align='top')
                    p
                        a(href='https://ordering.chownow.com/order/5096/locations')
                            img(src='../public/images/order-button.png', width='250', height='100', alt='orderonlinebutton')
                    #apDiv1
                        img(src='images/happyhour.png', width='250', height='250', alt='Happy Hour ')
                    p
                        | Geogeske, commonly known as MDB, offers guests a fun and casual dining experience. The locally owned neighborhood favorite boasts a menu full of mouth-watering appetizers, comfort all-American favorites, and delectable desserts. In the evenings, MDB transforms into a hip lounge with a full-service bar and a mix of sultry beats by local Deejays.
                    p
                        strong Dinner:
                        |  Monday through Thursday, 11:00 a.m. to 10:00 p.m.
                        br
                        | Friday and Saturday, 11:00 a.m. to 11:00 p.m. 
                        br
                        | Sundays, 11:00 a.m. to 7:00 p.m. 
                        br
                        strong Bar:
                        |  Open everyday until 2:00 a.m.
                    p.reservations
                        a(href='https://www.google.bg/webhp?ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&ei=DedtWcfZOonIXqiEnFg', target='_blank') Click here to make a reservation!
                    .heading
                    .top
                    .bottom
            #pageFooter
                form#footerNewsletter(action='https://www.google.bg/webhp?ie=utf-8&oe=utf-8&client=firefox-b&gfe_rd=cr&ei=DedtWcfZOonIXqiEnFg', method='post')
                    input#hdkttd-hdkttd(type='text', name='cm-hdkttd-hdkttd', value='sign up for our e-newsletter', onclick="this.value='';")
                    button#newsletter_submit(type='submit', name='submit', onclick="this.value='Submit';")
                        span Submit
                #footerCopyright
                    p Copyright © 2017 — MDB
                | >
        #bottom
        #backgroundImage
            div
                table(cellspacing='0', cellpadding='0')
                    tr
                        td
                            img(alt='Bg-home', src='../public/images/bg-home-1354826878.jpg')
