<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet")
    style
        include ../public/css/landing.css
    title 
        | MDB | Home page
body
    nav
        ul
            li.menu
                a(href="#") Reservations
            li.menu
                a(href="/menu") Menu
            li.menu
                a(href="/about") About
            li.menu
                a(href="/profile") Profile
            li.auth
                a(href="/login") Log in
            li.auth
                a(href="/register") Register
        //- ul.nav.navbar-nav.navbar-right
        //-     if currentUser
        //-         li.dropdown
        //-             a.dropdown-toggle(href="#", data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
        //-                 span.glyphicon.glyphicon-user
        //-                 | #{currentUser.username} 
        //-                 b.caret
        //-             ul.dropdown-menu
        //-                 li
        //-                     a(href="/profile/"+currentUser.username)
        //-                         span.glyphicon.glyphicon-user
        //-                         | Profile
        //-                 li
        //-                     a(href="/settings/"+currentUser.username)
        //-                         span.glyphicon.glyphicon-cog
        //-                         | Settings
        //-                 li.divider
        //-                 li
        //-                     a#logout-btn(href="/logout")
        //-                         span.glyphicon.glyphicon-cog
        //-                         | Logout
        //-     else
        //-         include main/register.pug
        //-         include main/login.pug

    header
        div.naming
            p MDB
    footer
        p 
            small: strong
                | ADDRESS: 
            | 56 Ivan Shishman St., Sofia, Bulgaria
            br
            small: strong
                | DINNER: 
            | Monday through Thursday, 11:00 a.m. to 10:00 p.m.
            br
            | Friday and Saturday, 11:00 a.m. to 11:00 p.m. 
            br
            | Sundays, 11:00 a.m. to 7:00 p.m. 
            br
            small: strong
                | BAR: 
            | Open everyday until 2:00 a.m.
            br
            br
            strong
                | Copyright © 2017 — MDB