<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    link(href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet")
    style
        include ../public/css/landing.css
    title 
        | Geosuke | Home page
body
    nav
        ul
            li.menu
                a(href="#") Reservations
            li.menu
                a(href="#") Menu
            li.menu
                a(href="#") About
            li.auth
                a(href="#") Log in
            li.auth
                a(href="#") Register
    main
        div.naming
            p Geosuke
    footer
        p 
            small: strong
                | ADDRESS: 
            | 56 Ivan Shishman St., Sofia, Bulgaria
            br
            small: strong
                | DINNER: 
            | Monday through Thursday, 11:00 a.m. to 10:00 p.m.
            br
            | Friday and Saturday, 11:00 a.m. to 11:00 p.m. 
            br
            | Sundays, 11:00 a.m. to 7:00 p.m. 
            br
            small: strong
                | BAR: 
            | Open everyday until 2:00 a.m.
            br
            br
            strong
                | Copyright © 2017 — MDB