            li
                  form.search-form(role="search", method="get" action="/search")
                      label
                          input.search-field(type="search", title="Search after:", name="val", placeholder="Search")
                          input.search-submit(type="submit" value="Search")