extends ../home
block content
    if context.length        
        each meal in context
            div.row
                div.col-sm-4.col-md-3
                    div.thumbnail
                        //- img
                        h3
                            =meal.name
                        p
                            =meal.description
                        p
                            | Weight:
                            =meal.weight
                        p
                            | Price:
                            = meal.price
                        form.form-inline(action="/shoppingcart/add/:"+meal._id method="POST")
                            input.form-control(type="number" name="quantity" min="1")
                            button.btn.btn-success.btn-xs(type="submit") Add
    else
        p
            | No Meals yet...

